<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Assignments</title>
    <link rel="stylesheet" href="{% static 'css/assignment_list.css' %}">
</head>

<body>
    <header>
        <div class="navbar">
            <div class="logo">Class</div>
            <nav>
                <ul>
                    <li><a href="{% url 'home'%}">Home</a></li>
                    <li><a href="{% url 'class_list'%}">Classes</a></li>

                    {%if user.is_authenticated%}
                    <li><a href="{% url 'user_assignments' %}">Assignments</a></li>
                    {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'signup' %}">signup</a></li>
                    {%endif%}
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <section class="user-assignments">
            <h2>Your Assignments</h2>
            <div class="assignments-list">
                {% for item in assignments %}
                <a href="{{ item.get_absolute_url }}" class="assignment-item">
                    <h3>{{item.Class_room.class_name}}</h3>
                    <p>upload Date: {{ item.UploadDate }}</p>
                    <p>Description: {{ item.Description}}</p>
                    <button class="btn" onclick="location.href='create_submission/{{ item.id }}'">Submit Assignment</button>
                </a>
                {% endfor %}
            </div>

        </section>

    </main>
    <footer>
        <div class="footer-content">
            <div class="footer-section">
                <h3>Class</h3>
                <p>Manage assignments and grades efficiently with Class.</p>
            </div>
            <div class="footer-section">
                <h3>Navigation</h3>
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'user_assignments' %}">Assignments</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h3>Socials</h3>
                <ul>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">Youtube</a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>
